<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: #e2e2e2;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1> Welcome to home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem est saepe voluptatum quidem quo nobis perferendis reiciendis, sed maiores, consectetur pariatur, harum quae commodi veniam at modi voluptatem praesentium dolore.</p>

    </div>
</body>
</html>